body{
    background-color: #7b8c78;
    min-width: 100%;
}


#wrapper{
    display: grid;
    width: 90%;
    background-color: #ceb38d;
    justify-self: center;
}

header{
    display: grid;
    height: 7.8em;
    grid-template-columns: 2fr 2fr 1fr;
    background-color:bisque;
    box-shadow: 0px 0.3em 2em 0em rgba(0, 0, 0, 0.3);
}

#logga{
    width: 17em;
    margin-left: 1em;
    margin-top: 0.2em;
}

#links{
    font-size: 2em;
    align-self: center;
    display: flex;
    gap: 0.5em;
    margin-left: -1.5em;
}

a{
    text-decoration: none;
}

.linksClass{
    color: black;

}

.linksClass:hover{
    color: gray;
}

#bigSec{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    padding: 1em;

}

#sec1{
    grid-column: 1/3;
    grid-row: 1;
    background-color: bisque;
    padding: 0.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0.5em;
    border-radius: 1em;
}

#bildSec{
    grid-column: 1;
    grid-row: 2;
    margin: 0.5em;
    
}

img{
    width: 34em;
    border-radius: 1em;
}

#sec2{
    grid-column: 2;
    grid-row: 2;
    background-color: bisque;
    padding: 0.5em;
    margin: 0.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    height: 21em;
    padding-top: -1em;
    border-radius: 1em;
    
    display: flex;
    flex-direction: column;

}

#läsMer{
    display: flex;
    margin-left: auto;
    margin-top: -2.5em;
    background-color: bisque;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 0.7em;
    border: #927a58 solid ;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0em 0.2em 0.1em 0em;
    transition: all 0.2s ease;
    width: 4em;
    font-size: 1.2em;
}

#läsMer:hover{
    background-color: #927a58;
}

#läsMer:active{
    margin-top: -2.2em;
    box-shadow: rgba(0, 0, 0, 0) 0em 0.1em 0.1em 0em;
}

#sec3{
    grid-column: 1/3;
    grid-row: 3;
    background-color: bisque;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: -0.5em;
    border-radius: 1em;

    

    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 3rem 2rem;
}

#sec3 div{
    flex: 1;
}

#sec3 h3{
    margin-bottom: 1rem; 
}

sec3 p{
    margin: 0.5rem 0;
}

p{
    line-height: 1.6;
    font-size: 1.5em;
}