body{
    background-color: #7b8c78;
    min-width: 100%;
}

#wrapper{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    width: 90%;
    background-color: #ceb38d;
    justify-self: center;
}

header{
    display: grid;
    
    grid-template-columns: 2fr 2fr 1fr;
    background-color:bisque;
    box-shadow: 0px 0.3em 2em 0em rgba(0, 0, 0, 0.3);
}

#logga{
    max-block-size: 6.5em;
}

#links{
    font-size: 2em;
    align-self: center;
}

a{
    text-decoration: none;
    color: black;   
}

a:hover{
    color: gray;
}

#bigSec{
grid-row: 2;
display: grid;
grid-template-rows: 1fr 1fr;
}

#upperImgText{
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em;
}

#lavendel{
    grid-column: 1;
    margin: 0.5em;
    background-color: rgb(88, 74, 53);
    min-height: 80px;
    max-height: 80px;
}

#paragraf1{
    grid-column: 2;
    margin: 0.5em;
    background-color: rgb(88, 74, 53);
}

#lowerImgText{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em;
    
}

#syren{
    grid-column: 2;
    margin: 0.5em;
    background-color: rgb(88, 74, 53);
}

#paragraf2{
    grid-row: 1;
    grid-column: 1;
    margin: 0.5em;
    background-color: rgb(88, 74, 53);
}

footer{
    grid-row: 3;
}
