body{
    background-color: #7b8c78;
    min-width: 100%;
}

#wrapper{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    width: 90%;
    background-color: #ceb38d;
    justify-self: center;
}

header{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

#logga{
    max-block-size: 6.5em;
}


#bigSec{
grid-row: 2;
display: grid;
grid-template-rows: 1fr 1fr;
}

#upperImgText{
    grid-row: 1;
}


footer{
    grid-row: 3;
}
