body{
    background-color: #7b8c78;
    min-width: 100%;
}


#wrapper{
    display: grid;
    width: 90%;
    background-color: #ceb38d;
    justify-self: center;
}

header{
    display: grid;
    height: 7.8em;
    grid-template-columns: 2fr 2fr 1fr;
    background-color:bisque;
    box-shadow: 0px 0.3em 2em 0em rgba(0, 0, 0, 0.3);
}

#logga{
    width: 17em;
    margin-left: 1em;
    margin-top: 0.2em;
}

#links{
    font-size: 2em;
    align-self: center;
    display: flex;
    gap: 0.5em;
    margin-left: -1.5em;
}

a{
    text-decoration: none;
}

.linksClass{
    color: black;

}

.linksClass:hover{
    color: gray;
}

#bigSec{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    padding: 1em;

}

#sec1{
    grid-column: 1/3;
    grid-row: 1;
    background-color: antiquewhite;
}

#bildSec{
    grid-column: 1;
    grid-row: 2;

}

img{
width: 25em;
}

#sec2{
    grid-column: 2;
    grid-row: 2;
    background-color: bisque;
}

#sec3{
    grid-column: 1/3;
    grid-row: 3;
}